
*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
.img-fluid{
  width: 100px;
}

/* operation */

.operation{

  text-align: center;
}
.inline-op{
  display: inline-block
}
.clock{
  width: 60px;
  position: absolute;
  right: 450px;

}

.block-operation{
  display: inline-block;
  width: 20%;

  
}


.blk1{
  color:white ;
  background: #F1C510   ;
  padding: 4%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.blk2{
  color:black;
  background: rgb(235, 238, 232);
  padding: 5%;

}

.blk3{
  color:black;
  background: hsl(44, 62%, 65%);
  padding: 5%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}

.fdcode{
  font-size: 40px;
}
.fdtotal{
  font-size: 30px;
}
.fdday{
  font-size: 28px;
}
/* operation fin */
/* HEADER */
.logo{
  width: 150px;
  margin: 20px;
}

.nav-tabs {
  border-bottom: 1px solid #E4A30E  !important;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  
  border-color: rgb(228, 163, 14) #E4A30E #fff !important;
  color: #E4A30E !important;
}
/* FIN DE HEADER */

/* FOOTER */
.footer1{
  width: 30px;
 border: 1px solid #E4A30E;
 padding: 5px;
 border-radius: 5px;
 margin: 15px;
}
.footer2{
  color: #E4A30E;
  font-weight: bold;
  margin: 0 20px 0 20px;
}
.footer3{
  width: 100px;
  
}
.center{
  text-align: center;
}
/* FIN DEL FOOTER */
