
*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
.img-fluid{
  width: 100px;
}

/* operation */

.operation{
  text-align: center;
}
.inline-op{
  display: inline-block
}
.clock{
  width: 1em;
}
.operation-block{

}

.block-operation{
  display: inline-block;

  width: 20em;
  
}
.blk1{
  color:white ;
  background: #F1C510;
 
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  line-height: 1.6em
}

.blk2{
  color:black;
  background: rgb(235, 238, 232);
  line-height: 1.6em

}

.blk3{
  color:black;
  background: hsl(44, 62%, 65%);

  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  line-height: 1.5em

}

.fdcode{
  font-size: 20px;
}
.fdtotal{
  font-size: 20px;
}
.fdday{
  font-size: 20px;
}
.fdcant{
  font-size: 20px;

}

/*  Payment*/
.blockpayment{
  background: deeppink;
  text-align: center; 
}

.totalpayment{
  border: 3px solid green;
}

.payintemblock{
  background: blueviolet;
}

.imgpament{
  background: salmon;
  display: inline-block;
}

/* operation fin */


/* HEADER */
.logo{
  width: 150px;
  margin: 20px;
}

.nav-tabs {
  border-bottom: 1px solid #E4A30E  !important;
  font-weight: bold;
}
.nav-tabs .nav-link.active {
  
  border-color: rgb(228, 163, 14) #E4A30E #fff !important;
  color: #E4A30E !important;
}
/* FIN DE HEADER */

/* FOOTER */
.footer1{
  width: 30px;
 border: 1px solid #E4A30E;
 padding: 5px;
 border-radius: 5px;
 margin: 15px;
}
.footer2{
  color: #E4A30E;
  font-weight: bold;
  margin: 0 20px 0 20px;
}
.footer3{
  width: 100px;
}
.center{
  text-align: center;
}
/* FIN DEL FOOTER */
.btn{
  background-color: #BD4545;
  color: rgb(255, 255, 255);
  width: 65%;
  margin: 2% 10%;

}
.btncenter{
  text-align: center;
}
/* FIN DE BTN */

/* FIN DE INTRUCCIONES */
.intTitle{
  font-weight: bold;
  font-size: 15px;
  color: #E4A30E;
}
.int{
  font-size: 13px;
}
.intcenter{
  text-align: center;
}

/* login */
.loginblock{
  float: right;
  margin: 10px;
}
.bnlogin{
  background: #fff;
  color: rgb(194, 21, 21);
  border: 1px solid rgb(194, 21, 21);
  border-radius: 3px;
  padding:0 2px;

}
/* fin login */